.result-card{
    display : flex ;
    margin-bottom : 20px ; 
}
.result-card .poster-wrapper img , 
.filler-poster {
    width : 75px ;
    height : 113px ;
    background-color : #dbdada ; 
    border-radius : 5px ;
    margin-right : 15px ;
    display : block ;
    color : transparent ;  
}
.result-card .info {
    display: flex ; 
    flex-direction : column ;
    justify-content : space-between ;
}
.result-card .info .title {
    font-size : 1.25rem ;
    color : var(--primary);
    font-weight : 600 ;
    margin : 0;
}
.result-card .info .release-date {
    font-size : 1.25rem ;
    font-weight : 300 ;
    color : var (--primary);
    margin : 0;
}
.result-card .controls button {
    margin-right : 10px ;
}